<div class="car-addition">
  <form action="add-new-car" method="post">
    <div class="form-group">
      <label for="make-model">Make/Model: </label>
      <input type="text" name="make-model" id="make-model">
    </div>
    <div class="form-group">
      <label for="mileage">Mileage: </label>
      <input type="number" name="mileage" id="mileage">
    </div>
    <div class="form-group">
      <label for="interior-color">Interior Color: </label>
      <input type="text" name="interior-color" id="interior-color">
    </div>
    <div class="form-group">
      <label for="exterior-color">Exterior Color: </label>
      <input type="text" name="exterior-color" id="exterior-color">
    </div>
    <div class="form-group">
      <label for="price">Price: </label>
      <input type="number" name="price" id="price">
    </div>
    <button type="submit" name="button">Add your vehicle!</button>
  </form>
</div>
